.background img {
  height: 100vh;
  width: 100%;
}

.welcome-page {
  align-items: center;
  padding-left: 30%;
}
.welcome-page img {
  height: 500px;
  width: 500px;
}


.welcome-page .head-welcome
{
  font-style: italic;
  font-weight: 200;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}