* {
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.header-about {
  font-size: 3em;
  font-weight: 200px;
}
.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 10px;
  height: 400px;
}

.about-img {
  height: 300px;
}

.column p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}

.about-head {
  color: red;
  font-weight: bolder;
}
